
.products {
    padding: 20px;
    text-align: center;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productList .productItem {
    width: 200px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.productList .productItem img {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.buttonList {
    background-color: blue;
    color: white;
}